.picture-cards-food {
  margin: 5px;
  width: 40%;
}

.foods-card {
  align-items: center;
  border-style: inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  text-align: center;
  width: 30%;
}
