.header-container {
  align-items: baseline;
  background: #c4c4c4;
  display: flex;
  height: 58px;
  justify-content: space-around;
}

.perfil-btn {
  display: inline;
  left: 15px;
  top: 12px;
}

